@model SafeNetAtm.Models.AtmViewModel
<table id="tblCurrentBalance">
    <thead>
       <tr>
           <th>Denomination</th>
           <th>Bills</th>
       </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.InventoryList)
        {
            <tr>
                <td class="text-center">$ @item.Denomination</td>
                <td class="text-center">@item.BillQuantity</td>
            </tr>
        }
    </tbody>
</table>
